%nav.navbar.navbar-light.bg-faded
  %button.navbar-toggler.hidden-sm-up{"data-target" => "#exCollapsingNavbar2", "data-toggle" => "collapse", :type => "button"}
    ☰
  
  #exCollapsingNavbar2.collapse.navbar-toggleable-xs
    %ul.nav.navbar-nav
      %li= link_to 'Home --', root_path, class: 'nav-item'
      %li= link_to 'Products --', products_path, class: 'nav-item'
      %li= link_to 'Services', services_path, class: 'nav-item'
      
      %form.form-inline.pull-xs-right
        = text_field_tag :search, params[:search]
        %button.btn.btn-success-outline{:type => "submit"} Search