!!!
%html{lang: "en"}
  %head
    %title
      SORA

  %body
    #wrap
      = render 'layouts/header'

    .container
      .notice
        = notice
      .alert
        = alert
      
      = yield

  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  
  = csrf_meta_tags


:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74680816-1', 'auto');
  ga('send', 'pageview');