= simple_form_for @user do |f|
	- if @user.errors.any?
		#error_explanation
			%h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
			%ul
				- @user.errors.full_messages.each do |msg|
					%li= msg

	.col-sm-4
		%h4 
			Required information
		= f.input :email, input_html: { value: @user.email, autofocus: true }, label: "Email*"

		= f.input :username, label: "Company Name*"

		= f.input :new_password, as: :password, label: "Password*"

		= f.input :new_password_confirmation, as: :password, label: "Confirm Password*"

		= f.input :address, label: "Street Address*"

    
	.col-sm-8
		%h4
			You can add the information in this column later
		= f.input :phone, label: "Phone"

		= f.input :city, label: "City"

		%strong Country
		= f.country_select('country')
		%br
		%br

		= f.input :about, as: :text, label: "Description"

	.actions
		= f.submit 'Save'
