%html.full{:lang => "en"}/
%head
  %title

  = stylesheet_link_tag "application", media: "all"
  = csrf_meta_tags

  - provide :title, 'SORA Splash'

/ .col-xs-12
/   .card.card-inverse{:style => "background-color: DarkGreen; border-color: DarkGreen"}
/     .card-block
/       %h1.card-title What Do You Need?
/       %p.card-text Resource Search Engine Based on Adam Smiths The Wealth of Nations
/       %a.btn.btn-primary{:href => "#"} Button

/     .row
/       %form.col-center
/         = form_tag :controller => 'users', :action => 'index', :method => 'get' do 
/           %p
/           = text_field_tag :search, params[:search], :placeholder => "Type Dish Here"
/           %br
/           %button.btn.btn-warning{:type => "submit"} Search

#body
Social Resource Allocation

.col-xs-12
  .col-md-4
  .col-md-8
    .card.card-inverse{:style => "background-color: DarkGreen; border-color: DarkGreen"}
      .card-block  
        %h1.card-title What Do You Need?
        %p.card-text Resource Search Engine Based on Adam Smiths The Wealth of Nations
        %form{action: "#{new_user_path}", method: 'get'}
          %p.card-text
            I need 
            / = raw t 'splash.need'
            = text_field_tag 'search_for', nil, :input_html => { :value => "How?" }, autofocus: true
            = select_tag "kind", "<option>In HCM</option> <option>In Hanoi</option> <option>In Da Nang</option>".html_safe, {:style => "background-color: DarkGreen"}
            = submit_tag 'Search!', class: 'code btn btn-default', name: nil, class: 'btn btn-primary'
          %br
          %br
          %p.card-text
            "I need an English teacher!"
            / = raw t 'splash.search1'
            %br
            %br
            "I need a bread supplier!"
            / = raw t 'splash.search2'
            %br
            %br
            "I need Java web developers"
            / = raw t 'splash.search3'


#login.modal.fade{tabindex: "-1", role: "dialog", aria: {labelledby: "Password Reset", hidden: true}}
  .modal-dialog
    .modal-content
      .col-xs-12.col-sm-12.col-md-12
        .modal-header
          %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: true}} &times;
          %h4.modal-title Login
        .modal-body
          .col-xs-12.col-sm-12.col-md-12
            / = simple_form_for @session_form, url: sessions_path, html: { class: 'form-signin' } do |f|
            /   = f.input :email, input_html: { autofocus: true }
            /   = f.input :password, as: :password
            /   = link_to "Register As A New User", new_user_path
            /   %br
            /   %br
            /   = f.submit "Login", class: "btn btn-primary btn-block"

            
= javascript_include_tag "application"        

#reset_password_modal.modal.fade{tabindex: "-1", role: "dialog", aria: {labelledby: "Password Reset", hidden: true}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: "button", data: {dismiss: "modal"}, aria: {hidden: true}} &times;
        %h4.modal-title Password Recovery
      .modal-body
        / = form_for :recover, :url => {:controller => "users", :action => "recover"} do |f|
        /   .form_group
        /     = f.label :email, "Email", class: "control-label"
        /     = f.text_field :email, class: "form-control"
        /   %br
        /   = f.submit "Reset Password", class: "btn btn-primary btn-block"

:css
  body { 
  //background: url('http://www.24hourtranslation.com/wp-content/uploads/2014/07/teaching-chinese.jpg') no-repeat center center fixed; 
  background: url('http://res.cloudinary.com/nara/image/upload/v1458031848/teaching-chinese-crop_l5yrmk.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  }
  
  .panel-default {
   opacity: 0.9;
   margin-top:30px;
  }
  .form-group.last {
   margin-bottom:0px;
  }

  #map-canvas {
    width: 100%; 
    height: 300px;
    margin: 0;
    padding: 0px;
  }